
html {
  height: 100%;

  & body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & a {
      &:link, :visited, :hover, :active {
        text-decoration: none;
      }
    }
  }
}
